<a href="https://colab.research.google.com/github/Moorea-AI/ANALITICA3/blob/main/%5CRH_Grupo1%5Cb_preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
def ejecutar_sql (nombre_archivo, cur):
  sql_file=open(nombre_archivo)
  sql_as_string=sql_file.read()
  sql_file.close
  cur.executescript(sql_as_string)

In [46]:
#### Cargar paquetes
import pandas as pd ### para manejo de datos
import sqlite3 as sql #### para bases de datos sql
import sys ## saber ruta de la que carga paquetes

In [47]:
#se generan las url para conectar las bases de datos desde git hub
employee = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/employee_survey_data.csv'
general = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/general_data.csv'
manager = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/manager_survey.csv'
retirement = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/retirement_info.csv'

In [48]:
# se leen los archivos csv
df_employee=pd.read_csv(employee)
df_general=pd.read_csv(general)
df_manager=pd.read_csv(manager)
df_retirement=pd.read_csv(retirement)

In [49]:
# resumen de informaci√≥n de las tablas
df_employee.info()
df_general.info()
df_manager.info()
df_retirement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8820 non-null   int64
 1   EmployeeID               8820 non-null   int64
 2   EnvironmentSatisfaction  8770 non-null   float64
 3   JobSatisfaction          8780 non-null   float64
 4   WorkLifeBalance          8744 non-null   float64
 5   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 413.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8820 non-null   int64
 1   Age                      8820 non-null   int64
 2   BusinessTravel           8820 non-null   object
 3   Department               8820 non-null   object
 4   DistanceFromHome         8820 non-null   int64
 5   Education                8820 non-null   int64
 6   EducationField           8820 non-null   object
 7   EmployeeCount            8820 non-null   int64
 8   EmployeeID               8820 non-null   int64
 9   Gender                   8820 non-null   object
 10  JobLevel                 8820 non-null   int64
 11  JobRole                  8820 non-null   object
 12  MaritalStatus            8820 non-null   object
 13  MonthlyIncome            8820 non-null   int64
 14  NumCompaniesWorked       8782 non-null   float64
 15  Over18                   8820 non-null   object
 16  PercentSalaryHike        8820 non-null   int64
 17  StandardHours            8820 non-null   int64
 18  StockOptionLevel         8820 non-null   int64
 19  TotalWorkingYears        8802 non-null   float64
 20  TrainingTimesLastYear    8820 non-null   int64
 21  YearsAtCompany           8820 non-null   int64
 22  YearsSinceLastPromotion  8820 non-null   int64
 23  YearsWithCurrManager     8820 non-null   int64
 24  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(15), object(8)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8820 non-null   int64
 1   EmployeeID         8820 non-null   int64
 2   JobInvolvement     8820 non-null   int64
 3   PerformanceRating  8820 non-null   int64
 4   SurveyDate         8820 non-null   object
dtypes: int64(4), object(1)
memory usage: 344.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       711 non-null    int64
 1   Unnamed: 0         711 non-null    int64
 2   EmployeeID         711 non-null    int64
 3   Attrition          711 non-null    object
 4   retirementDate     711 non-null    object
 5   retirementType     711 non-null    object
 6   resignationReason  641 non-null    object
dtypes: int64(3), object(4)
memory usage: 39.0+ KB

In [50]:
#### Convertir campos a formato fecha
df_employee["DateSurvey"]=pd.to_datetime(df_employee['DateSurvey'], format="%Y/%m/%d")
df_general["InfoDate"]=pd.to_datetime(df_general['InfoDate'], format="%Y/%m/%d")
df_manager["SurveyDate"]=pd.to_datetime(df_manager['SurveyDate'], format="%Y/%m/%d")
df_retirement["retirementDate"]=pd.to_datetime(df_retirement['retirementDate'], format="%Y/%m/%d")

In [51]:
## eliminar columnas
df_employee =df_employee.drop(["Unnamed: 0"], axis=1)
df_general =df_general.drop(["Unnamed: 0"], axis=1)
df_manager =df_manager.drop(["Unnamed: 0"], axis=1)
df_retirement =df_retirement.drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)

In [52]:
### por facilidad se convierten los nombres de las columnas a minuscula
df_employee = df_employee.rename(columns=lambda x: x.lower())
df_general = df_general.rename(columns=lambda x: x.lower())
df_manager = df_manager.rename(columns=lambda x: x.lower())
df_retirement = df_retirement.rename(columns=lambda x: x.lower())

In [53]:
df_employee.head(5)

,employeeid,environmentsatisfaction,jobsatisfaction,worklifebalance,datesurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
3,4,4.0,4.0,3.0,2015-12-31
4,5,4.0,1.0,3.0,2015-12-31

In [54]:
#crear base de datos en SQL
conn= sql.connect("data\\db_empleados") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexi√≥n.
cur=conn.cursor() ### ejecutar funciones  en BD

In [55]:
### Llevar tablas a base de datos
df_employee.to_sql("employee",conn,if_exists="replace")
df_general.to_sql("general",conn,if_exists="replace")
df_manager.to_sql("manager",conn,if_exists="replace")
df_retirement.to_sql("retirement",conn,if_exists="replace")

711

In [56]:
cur.execute("Select name from sqlite_master where type='table'") ### consultar bases de datos
cur.fetchall()

[('employee',), ('general',), ('manager',), ('retirement',)]

In [57]:
pd.read_sql("""select employeeid,count(*)
                            from employee
                            group by employeeid""", conn)

      employeeid  count(*)
0              1         2
1              2         2
2              3         2
3              4         2
4              5         2
...          ...       ...
4405        4406         2
4406        4407         2
4407        4408         2
4408        4409         2
4409        4410         2

[4410 rows x 2 columns]