<a href="https://colab.research.google.com/github/Moorea-AI/ANALITICA3/blob/main/%5CRH_Grupo1%5Cb_preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejecutar_sql (nombre_archivo, cur):
  sql_file=open(nombre_archivo)
  sql_as_string=sql_file.read()
  sql_file.close
  cur.executescript(sql_as_string)

In [ ]:
#### Cargar paquetes
import pandas as pd ### para manejo de datos
import sqlite3 as sql #### para bases de datos sql
import sys ## saber ruta de la que carga paquetes

In [ ]:
#se generan las url para conectar las bases de datos desde git hub
employee = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/employee_survey_data.csv'
general = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/general_data.csv'
manager = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/manager_survey.csv'
retirement = 'https://raw.githubusercontent.com/Moorea-AI/ANALITICA3/main/RH_Grupo1/databases/retirement_info.csv'

In [ ]:
# se leen los archivos csv
df_employee=pd.read_csv(employee)
df_general=pd.read_csv(general)
df_manager=pd.read_csv(manager)
df_retirement=pd.read_csv(retirement)

In [37]:
# resumen de información de las tablas
df_employee.info()
df_general.info()
df_manager.info()
df_retirement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   employeeid               8820 non-null   int64
 1   environmentsatisfaction  8770 non-null   float64
 2   jobsatisfaction          8780 non-null   float64
 3   worklifebalance          8744 non-null   float64
 4   datesurvey               8820 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 344.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8820 non-null   int64
 1   BusinessTravel           8820 non-null   object
 2   Department               8820 non-null   object
 3   DistanceFromHome         8820 non-null   int64
 4   Education                8820 non-null   int64
 5   EducationField           8820 non-null   object
 6   EmployeeCount            8820 non-null   int64
 7   EmployeeID               8820 non-null   int64
 8   Gender                   8820 non-null   object
 9   JobLevel                 8820 non-null   int64
 10  JobRole                  8820 non-null   object
 11  MaritalStatus            8820 non-null   object
 12  MonthlyIncome            8820 non-null   int64
 13  NumCompaniesWorked       8782 non-null   float64
 14  Over18                   8820 non-null   object
 15  PercentSalaryHike        8820 non-null   int64
 16  StandardHours            8820 non-null   int64
 17  StockOptionLevel         8820 non-null   int64
 18  TotalWorkingYears        8802 non-null   float64
 19  TrainingTimesLastYear    8820 non-null   int64
 20  YearsAtCompany           8820 non-null   int64
 21  YearsSinceLastPromotion  8820 non-null   int64
 22  YearsWithCurrManager     8820 non-null   int64
 23  InfoDate                 8820 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(14), object(7)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         8820 non-null   int64
 1   JobInvolvement     8820 non-null   int64
 2   PerformanceRating  8820 non-null   int64
 3   SurveyDate         8820 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 275.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         711 non-null    int64
 1   Attrition          711 non-null    object
 2   retirementDate     711 non-null    datetime64[ns]
 3   retirementType     711 non-null    object
 4   resignationReason  641 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 27.9+ KB

In [26]:
#### Convertir campos a formato fecha
df_employee["DateSurvey"]=pd.to_datetime(df_employee['DateSurvey'], format="%Y/%m/%d")
df_general["InfoDate"]=pd.to_datetime(df_general['InfoDate'], format="%Y/%m/%d")
df_manager["SurveyDate"]=pd.to_datetime(df_manager['SurveyDate'], format="%Y/%m/%d")
df_retirement["retirementDate"]=pd.to_datetime(df_retirement['retirementDate'], format="%Y/%m/%d")

In [30]:
## eliminar columnas
df_employee =df_employee.drop(["Unnamed: 0"], axis=1)
df_general =df_general.drop(["Unnamed: 0"], axis=1)
df_manager =df_manager.drop(["Unnamed: 0"], axis=1)
df_retirement =df_retirement.drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [40]:
### por facilidad se convierten los nombres de las columnas a minuscula
df_employee = df_employee.rename(columns=lambda x: x.lower())
df_general = df_general.rename(columns=lambda x: x.lower())
df_manager = df_manager.rename(columns=lambda x: x.lower())
df_retirement = df_retirement.rename(columns=lambda x: x.lower())

In [42]:
df_employee.head(5)

,employeeid,environmentsatisfaction,jobsatisfaction,worklifebalance,datesurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
3,4,4.0,4.0,3.0,2015-12-31
4,5,4.0,1.0,3.0,2015-12-31

In [31]:
#crear base de datos en SQL
conn= sql.connect("data\\db_empleados") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexión.
cur=conn.cursor() ### ejecutar funciones  en BD

In [32]:
### Llevar tablas a base de datos
df_employee.to_sql("employee",conn,if_exists="replace")
df_general.to_sql("general",conn,if_exists="replace")
df_manager.to_sql("manager",conn,if_exists="replace")
df_retirement.to_sql("retirement",conn,if_exists="replace")

711

In [33]:
cur.execute("Select name from sqlite_master where type='table'") ### consultar bases de datos
cur.fetchall()

[('employee',), ('general',), ('manager',), ('retirement',)]

In [44]:
pd.read_sql("""select employeeid,count(*)
                            from employee
                            group by employeeid""", conn)

      EmployeeID  count(*)
0              1         2
1              2         2
2              3         2
3              4         2
4              5         2
...          ...       ...
4405        4406         2
4406        4407         2
4407        4408         2
4408        4409         2
4409        4410         2

[4410 rows x 2 columns]

In [ ]:
pd.read_sql("""select GenderID,count(*)
                            from employee
                            group by GenderID""", conn)